---
import Package from "@/components/ui/custom/Package.astro";

// images
import Pages from "@/assets/images/Dieler Pages.png"
import Ads from "@/assets/images/Dieler Ads.png"
import Solutions from "@/assets/images/Dieler Solutions.png"
---

<section class="flex flex-col w-full items-center gap-4">
  <h2 class="xxs:text-xl sm:text-2xl">¡Contamos con lo mejor para ti!</h2>
  <p class="text-[#ccc] xxs:text-md sm-text-lg xxs:w-11/12 sm:w-2/5 text-center">
    En dieler tenemos paquetes de crecimiento ideales para tu negocio,
    soluciones practicas y estrategias efectivas
  </p>

  <div class="flex xxs:flex-col xl:flex-row xxs:gap-12 mt-10">
    <Package
      special={false}
      title="Dieler pages"
      preview={Pages}
      description="Te abrimos al mercado posicionando tu negocio en Google."
      button={{
        text: "¡Quiero posicionarme!",
        link: "/servicios/dieler-page",
      }}
    />

    <Package
      title="Dieler Solutions"
      special={true}
      preview={Solutions}
      description="Analizamos tu caso, hacemos un diagnostico y te asignamos lo necesario para que puedas progresar."
      button={{
        text: "Busco algo mas personalizado",
        link: "/servicios/dieler-pages",
      }}
    />

    <Package
      title="Dieler Ads"
      preview={Ads}
      special={false}
      description="Maximizamos tu alcance consiguiendo mejores captaciones y mas conversiones"
      button={{
        text: "¡Quiero expandir mi negocio!",
        link: "/servicios/dieler-ads",
      }}
    />
  </div>
</section>
