---
import Button from "./ButtonCTA.astro";
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import { buttonVariants } from "../shadcn/button";

interface Props {
  preview?: ImageMetadata;
  title: string;
  description: string;
  special: boolean;
  button: {
    text: string;
    link: string;
  };
}

const { button, preview, title, description, special } = Astro.props;

// assets
import Placeholder from "@/assets/images/example.png";
---

<div
  class={`[border-width:0.2px] p-5 border-[#4c4b4b] rounded-xl xxs:max-w-xs xs:max-w-[350px] xxs:max-h-max sm:h-[397px] sm:w-[347px] sm:max-w-[347px] sm:max-h-[397px] flex flex-col items-center justify-around gap-2 mx-auto xs:scale-100 md:scale-110 xl:scale-100 ${special ? "xxs:scale-100 xl:scale-110 " : ""}`}
>
  <Image
    src={!preview ? Placeholder : preview}
    class="rounded-xl"
    alt={""}
    loading={`${special ? "eager" : "lazy"}`}
  />
  <div class="my-2 flex flex-col gap-2">
    <span>{title}</span>
    <p class="text-xs text-[#ccc]">{description}</p>
    {
      special ? (
        <Button
          text={button.text}
          theme="dark"
          type="special"
          link={button.link}
        />
      ) : (
        <a
          href={button.link}
          class={buttonVariants({ variant: "outline", size: "lg" })}
          onclick="event.preventDefault(); window.location.href=this.href;"
        >
          {button.text}
        </a>
      )
    }
  </div>
</div>
