---
// ui
import Package from "@/components/ui/custom/Package.astro";

// images
import Pages from "@/assets/images/Dieler Pages.png"
import Ads from "@/assets/images/Dieler Ads.png"
import Solutions from "@/assets/images/Dieler Solutions.png"
import Contents from "@/assets/images/Dieler Contents.png"
---


<section class="my-10">
  <div class="flex flex-col items-center gap-4 mb-10">
    <h3 class="xxs:text-[22px] sm:text-3xl md:text-4xl">
      ¿Como te vamos <span class="text-[#FBB911]">ayudar?</span>
    </h3>
    <p class="text-[#ccc] xxs:text-md sm-text-lg xxs:w-11/12 sm:w-2/5 xl:w-1/2 text-center">
      las 4 soluciones practicas que ayudaran a que aumentes la facturación en
      tu negocio.
    </p>
  </div>

  <div id="services" class="md:max-w-4xl xl:max-w-6xl md:grid-cols-2 md:items-center mx-auto grid xl:grid-cols-3 gap-14">
    <Package
      title="Dieler Pages"
      preview={Pages}
      special={false}
      description="Te abrimos al mercado posicionando tu negocio en Google. "
      button={{
        text: "Quiero mas información",
        link: "/servicios/dieler-page",
      }}
    />

    <Package
      title="Dieler Solutions"
      preview={Solutions}
      special={false}
      description="Analizamos tu caso, hacemos un diagnostico y te asignamos lo necesario para que puedas progresar."
      button={{
        text: "Quiero mas información",
        link: "/servicios/dieler-solutions",
      }}
    />

    <Package
      title="Dieler Ads"
      preview={Ads}
      special={false}
      description="Maximizamos tu alcance consiguiendo mejores captaciones y mas conversiones"
      button={{
        text: "Quiero mas información",
        link: "/servicios/dieler-ads",
      }}
    />

    <Package
      title="Dieler Contents"
      preview={Contents}
      special={false}
      description="Conectamos con tu audiencia y convertimos seguidores en clientes leales"
      button={{
        text: "Quiero mas información",
        link: "/servicios/dieler-contents",
      }}
    />
  </div>
</section>
